# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Escola\UCLL\1e Jaar\2e semester\Projectweek sem 2\projectweek1_lekkerMetDeMeiden\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
